In [ ]:
import pandas as pd
df = pd.read_csv('./titanic.csv')
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
q1 = df['Fare'].quantile(.25)
q3 = df['Fare'].quantile(.75)
IQR = q3 - q1
print('하한값:', q1 - 1.5 * IQR, '상한값:', q3 + 1.5 * IQR)

out1 = df[df['Fare'] < (q1 - 1.5 * IQR)]
out2 = df[df['Fare'] > (q3 + 1.5 * IQR)]
len(out1), len(out2)

In [ ]:
sum(out2['Sex'] == 'male')