### **1. 산술 연산자**

In [ ]:
#코드 2-5
a = 11
b = 4

print('덧셈 결과', a + b)
print('뺄셈 결과', a - b)
print('곱셈 결과', a * b)
print('나눗셈 결과', a / b)
print('나눗셈 정수 몫', a // b)
print('나눗셈 나머지', a % b)
print('거듭제곱 결과', a ** b)

### **2. 관계 연산자**

In [ ]:
#코드 2-6
a = 11
b = 4

print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

### **3. 논리 연산자**

In [ ]:
#코드 2-7
a = True
b = False

print(a and b)
print(a or b)

### **4. 멤버 연산자**

In [ ]:
#코드 2-8
a = 3
B = [1, 3, 5, 7, 9]

print(a in B)
print(a not in B)